<p>sales-person-list works!</p>
<table class="table table-hover">

    <thead class="thead-light">
         <tr>
              <th>  firstname  </th>
               <th>  lastname </th>
                <th>  email  </th>
                <th>  Salesvolume  </th>
                  <th>  quota  </th>


         </tr>


    </thead>
    <tbody>
             <tr *ngFor="let tempsales of salespersonlist"     >
               <td>{{tempsales.firstname}}   </td>
               <td>{{tempsales.lastname}}   </td>
               <td>{{tempsales.email}}   </td>
               <td>{{tempsales.salesVolume|currency:'USD' }}</td>
               <td>

               <div *ngIf="tempsales.salesVolume>=3000;else myElseBlock"   > yes</div>-->

                <ng-template #myElseBlock>no</ng-template>-->
               </td>


             </tr>
    </tbody>





</table>
